@page
@model ListModel


<h2>List of video games</h2>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchValue"/>
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Console Model</th>
        <th>Is Game Finished?</th>
    </tr>
    @foreach (var videoGame in Model.VideoGames)
    {
        <tr>
            <td>@videoGame.Title</td>
            <td>@videoGame.Description</td>
            <td>@videoGame.Console</td>
            <td>@videoGame.IsFinished</td>
            <td>
                <a class="btn btn-lg" asp-page="./Details" asp-route-videoGameId="@videoGame.VideoGameId">
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
            </td>
        </tr>
    }

</table>